<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <h1> Aqui podra visualizar la informacion de las Recetas </h1>
        <a class="btn btn-secondary" href=""> Ver todos las Recetas </a>
        <a class="btn btn-secondary" href=""> Ver las recetas de un paciente </a>
        <a class="btn btn-secondary" href=""> Ver el historial de las recetas</a>
        <a class="btn btn-secondary" href=""> Ver una receta en especifico</a>
        <a class="btn btn-secondary" href=""> Crear una receta</a>
    </div>

</body>

</html>